<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @friend.username %>
</p>

<p>
  <b>Friendid:</b>
  <%= @friend.friendid %>
</p>


<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Back', friends_path %>
